<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" type= "text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascript/helper.js"></script>
</head>
<body>
    <h1>My To-Do List</h1>
    <h2>Tasks listed below, add tasks with button.</h2>

    <button type="button" onclick="addTask()">New Task</button>

    <div id="task_board">
        <ul id="task_list">
            <!-- Tasks go here. -->
        </ul>
    </div>

   
</body>
</html>