/* This will be the styling reference for list_display.ejs. */

body {
    background-color: rgb(43, 40, 40);
}

h1 {
    color: rgb(29, 238, 39);
}

h2 {
    color: rgb(243, 25, 25);
}

p {
    color: rgb(135, 217, 245);
}

ul > li {
    color: rgb(29, 238, 39);
    text-decoration: underline;
}

li > div {
    width: fit-content;
    height: fit-content;
    background-color: rgb(83, 81, 81);

    padding: 3px;
}

div > p {
    color: rgb(29, 238, 39);
}


.hidden {
    display: none;
}

.shown {
    display: block;
}